bs4
captcha-harvester
selenium
cloudscraper
ffmpeg
selenium
undetected_chromedriver
xvfbwrapper
pyvirtualdisplay
chromedriver_autoinstaller
SpeechRecognition
fake_useragent
pydub
myjdapi
pytest
mysql-connector-python
debugpy
listen